$total-columns: 12
$column-width: 60px
$gutter-width: 20px
$grid-padding: 20px

.search-results
  +container
  padding-top: 20px

.board-container
  +isolate-grid(3)

.list
  background: #e2e4e6
  padding: 4px 3px 3px
  +border-radius(3px)

.list-card
  padding: 0 4px

.card
  display: block
  padding: 8px 10px
  border-bottom: 1px solid #ccc
  margin-bottom: 10px

  background: white
  +border-radius(3px)