@import compass/reset
@import compass/css3

body
  font-family: sans-serif
  background: #ececec

.nav-bar-container
  height: 56px
  width: 100%
  position: fixed
  top: 0
  display: flex
  background: #4285f4

  &:before
    content: ""
    height: 56px
    left: -2%
    position: fixed
    z-index: -1
    width: 104%
    +box-shadow(0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28))

.search-bar
  background: rgba(255,255,255,.15)
  +border-radius(2px)
  width: 80%
  margin: auto
  +transition(0.1s)

  &:hover
    background: rgba(255,255,255,.35)

  .search-input
    height: 36px
    width: 100%
    padding: 0 10px
    background: none
    border: 0
    font-size: 16px
    color: rgba(255,255,255,.8)
    +input-placeholder
      color: rgba(255,255,255,.6)

    &:focus
      outline: 0


.list-items-container
  cursor: pointer
  max-width: 840px
  width: 100%
  padding-top: 76px
  margin: 0 auto
  +box-sizing(border-box)

  @media screen and (max-width: 900px)
    padding: 0 20px
    padding-top: 76px

  .list-item
    background: white
    position: relative
   
    &:before
      content: ''
      display: block
      pointer-events: none

      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0

      +box-shadow(0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24))

    &.active
      margin: 10px -10px
      +transition(0.3s)

      .reply-form
        display: block

  .message
    display: flex
    position: relative
    // background: white
    margin: 1px 0

    &.read
      font-weight: normal

    &.unread
      font-weight: bolder

    &:hover
      .message-panel
        display: block
    
  .content
    text-overflow: ellipsis
    word-wrap: break-word
    white-space: nowrap
    overflow: hidden
    padding-top: 16px
    flex: 1

  .member
    width: 30px
    height: 30px
    padding: 10px 22px
    
  .member-initial
    width: 100%
    height: 30px
    line-height: 30px
    background: #f04e2f
    color: rgba(255,255,255,0.7)
    text-align: center
    +border-radius(50%)

.reply-form
  display: none
  background-color: #f6f6f6
  border-top: 1px solid #e5e5e5
  cursor: text

  &:hover
    background-color: #fff

  .reply-content
    padding: 16px 22px
    border: 0
    background: inherit
    width: 100%
    +box-sizing(border-box)
    font-size: 14px

    &:focus
      outline: 0

.message-panel
  display: none
  padding: 10px
  
  .panel-action
    display: inline-block
    background-position: center
    background-size: 24px
    height: 24px
    vertical-align: top
    width: 24px
    +opacity(0.25)

    &:hover
      opacity: 1
  
  .icon-read
    background-image: url(//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_mark-done_blk_24dp_r4.png)

