doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Trello App
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    nav
      .nav-bar-container#search-bar
        .home
          | Home
        .search-bar
          input.search-input(type='text', placeholder='Search')
    .main
      .search-results
        .board-container
          .list
            p
              | List1
            .list-cards
              .card
                | kerker


    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='https://api.trello.com/1/client.js?key=154407f68384bde233183669d08042d5')
    script(src="scripts/app.js")